.img10
  max-width: 10px 
.img30
  max-width: 30px
.img35
  max-width: 35px
.img40
  max-width: 40px 
.img45
  max-width: 45px
.img60
  max-width: 60px
.img75
  max-width: 75px 
.img80
  max-width: 80px
.img85
  max-width: 85px
.img90
  max-width: 90px
.img95
  max-width: 95px
.img100
  max-width: 100px
.img110
  max-width: 110px
.img120
  max-width: 120px
.img150
  max-width: 150px
.img170
  max-width: 170px
.img200
  max-width: 200px
.img250
  max-width: 250px
.img295
  max-width: 295px
.img300
  max-width: 300px
.img1084
  max-width: 84px
  max-height: 10px
.img4113
  max-width: 41px
  max-height: 130px
.img341
  max-width: 341px
  max-height: 219px

.img-especial
  position: absolute
  margin-top: -200px
  margin-bottom: 0px
  margin-inline-start: -100px
  max-width: 620px
  max-height: 413px

.img-especial2
  position: absolute
  margin-top: -99px
  margin-bottom: 0px
  margin-inline-start: -100px
  max-width: 144.81px

.justify-center
  display: flex
  justify-content: center
  flex-direction: row

.bg01
  background-color: #491079

.bg02
  background-color: #A6E65A

.bg03
  background-color: #E3FDFB

.bg04
  background-color: #F6F6F6

.bg05
  background-color: #D8E0E9

.bg06
  background-color: #7181F4
 
.bg07
  background-color: #738FAF!important

.bg08
  background-color: #7181F4!important

.bg09
  background-color: #BAC8D8

.bg10
  background-color: #BAC8D8!important

.bg11
  background-color: #ECECEC
.bg12
  background-color: #D8E0E9

.bg13
  background-color: #000

.flex-end
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

.etiqueta
  background-color: #E0F6C5
  color: black

.bg_grad-01
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 0
    left: 0
    width: calc( 100% + 6rem)
    height: 109%
    background-image: url("../assets/curso/tema1/img02.svg")
    background-repeat: no-repeat

.contenedor--texto-left
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 36%
    bottom: -20%
    left: 58%
    right: 0%
    background-color: #E0F6C5

.contenedor--texto-left2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -30%
    bottom: -15%
    left: 54%
    right: -3%
    background-color: #CBF6F2

.contenedor--texto-left3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -12%
    bottom: 14px
    left: 80%
    right: -30%
    background-color: #E0F6C5
    @media screen and  (max-width: 420px)
      right: -6%

.contenedor--texto-right-green3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 10%
    bottom: 55%
    left: -3%
    right: 58%
    background-color: #E0F6C5
    
.contenedor--texto-right-green4
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -16%
    bottom: 65%
    left: -3%
    right: 70%
    background-color: #E0F6C5

.contenedor--texto-right-green5
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -35%
    bottom: -45%
    left: -5%
    right: 76%
    background-color: #CBF6F2

.contenedor--texto-right-green6
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -12%
    bottom: 44%
    left: -15%
    right: 58%
    background-color: #CBF6F2
    @media screen and  (max-width: 420px)
      left: -5%

.contenedor--texto-right-green7
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -5%
    bottom: 65%
    left: 0%
    right: 78%
    background-color: #E0F6C5

.contenedor--texto-right-green8
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -5%
    bottom: 45%
    left: -20%
    right: 78%
    background-color: #E0F6C5
    @media screen and  (max-width: 420px)
      left: -5%
.contenedor--texto-right-green9
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -6%
    bottom: -25%
    left: 0
    right: 70%
    background-color: #DCEEC6
    @media screen and  (max-width: 420px)
      width: 325px
    @media screen and  (max-width: 1280px)
      width: 325px   
    @media screen and  (max-width: 280px)
      width: 220px   

.contenedor--texto-right-gray1
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -18%
    bottom: 35%
    left: -1%
    right: 56%
    background-color: #F2F2F2

.contenedor--texto-right-gray2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -35%
    bottom: 55%
    left: 0%
    right: 76%
    background-color: #EDEDED

.contenedor--texto-right-gray3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -35%
    bottom: 14%
    left: -3%
    right: 62%
    background-color: #EDEDED

.contenedor--texto-left-gray1
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 20%
    bottom: -24%
    left: 46%
    right: -9%
    background-color: #F2F2F2
    @media screen and ( max-width: 420px )
      right: -3%

.contenedor--texto-left-gray2
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: -15%
    bottom: -25%
    left: 45%
    right: -1%
    background-color: #EDEDED

.contenedor--texto-left-gray3
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 15%
    bottom: 32%
    left: 50%
    right: -6%
    background-color: #EDEDED

.contbgr
  background: rgb(243,251,252);
  background: linear-gradient(180deg, rgba(243,251,252,1) 0%, rgba(255,255,255,1) 100%);

.position-values1
  position: absolute;
  bottom: 0; 
  end: 0;

.alto1
  height: 465px;

.btn01
  type: button
  background-color: #7181F4
  data-bs-toggle: popover
  title: "Objeto"
  data-bs-content: "Se debe presentar el propósito para el cual se elabora el instructivo de manejo de las sustancias peligrosas."

.collapse
  id: "collapseExample"

.tarjeta-numerada 
    border: solid 2px
    border-radius: 20px
    position: relative
    margin-left: 30px
    width: 293px
    height: 340px
    border-color: #D244D5!important

.tarjeta-numerada_2 
    border: solid 2px
    border-radius: 20px
    position: relative
    margin-left: 30px
    width: 293px
    height: 340px
    border-color: #7181F4!important

.tarjeta-numerada_3 
    border: solid 2px
    border-radius: 20px
    position: relative
    margin-left: 30px
    width: 293px
    height: 340px
    border-color: #491079!important
    
.tarjeta-numerada_4 
    border: solid 2px
    border-radius: 20px
    position: relative
    margin-left: 30px
    width: 293px
    height: 340px
    border-color: #203A8A!important

.tarjeta-numerada_5 
    border: solid 2px
    border-radius: 20px
    position: relative
    margin-left: 30px
    width: 293px
    height: 340px
    border-color: #A6E65A!important
   
.numero
  color: #fff!important

.num_1
  background-color: #D244D5!important

.num_2
  background-color: #7181F4!important

.num_3
  background-color: #491079!important

.num_4
  background-color: #203A8A!important

.num_5
  background-color: #A6E65A!important

.lista-ol--cuadro__vineta 
  background-color: #491079
  
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #7181F4
  color: #f9fafb

.tarjeta--gris 
    background-color: #D8E0E9

.bg_fondo2
  position: relative
  img, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 5rem
    left: 10%
    width: calc(100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema2/img42.svg")
    background-repeat: no-repeat

.bg_fondo3
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -2rem
    left: 0
    width: calc(100% + 6rem)
    height: 170px
    background-image: url("../assets/curso/tema2/img21.svg")
    background-repeat: no-repeat


.bg_fondo4
  position: relative
  .título-segundo .row
  position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: 0
    width: calc(100% + 6rem);
    height: calc(100% + 6rem);
    background-image: url("../assets/curso/tema2/img22.svg")
    background-repeat: no-repeat

.bg_fondo5
  position: relative
  p .row
  position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 0
    left: -48px
    width: calc(100% + 6rem);
    height: 100%
    background-image: url("../assets/curso/tema2/img26.svg")
    background-repeat: no-repeat

.up
  z-index: 0

.imgcenter
  display: flex
  align-items: center
  justify-content: center

.banfondo1
  background-image: url('../assets/curso/tema2/img48.svg')
  background-position: 73% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem

.pasos-a.color-acento-botones .pasos-a__linea .hor-line 
  border-top-color: #7181F4

.pasos-a.color-acento-botones .pasos-a__linea__esquina__linea 
  border-color: #7181F4
  border-radius: initial

.pasos-a.color-acento-botones .pasos-a__numero::after 
    border-left-color: #7181F4

.pasos-a.color-acento-botones .pasos-a__circle 
    background-color: #7181F4

.pasos-a.color-acento-botones .pasos-a__circle div 
    color: #FFFFFF

.tarjeta-flip.tarjeta .tarjeta-flip__img, .tarjeta-flip.tarjeta .tarjeta-flip__contenido 
  border-radius: 0

.tarjeta-flip__img 
  background-repeat: no-repeat
  background-position: center

.bloque-texto-g.color-secundario 
    background-color: #08fbe7
    &::before
    background: rgb(88,88,88);
    background: linear-gradient(90deg, rgba(88,88,88,0.9920343137254902) 0%, rgba(255,255,255,1) 100%)


.tabs-a.color-acento-botones .tabs-a__tab__selected 
    background-color: #7181F4 !important

.tarjeta.color-acento-botones--borde 
    background-color: #D8E0E9
    border: 0 
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
    background-color: #7181F4

.tabs-a__tab
    background-color: #7181F4 !important

.tabs-a__tab__text 
    color: #fff

.bloque-texto-b.color-secundario:before 
    background-color: #C8DFF3

.bloque-texto-b i 
    color: #08FBE7

.titulo-segundo.color-secundario:after 
    border-left-color: #491079

.titulo-segundo.color-acento-botones:after 
    border-left-color: #491079

.bg-header
  position: relative
  .row
  position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 10rem
    left: -48px
    width: calc(100% + 6rem)
    height: 85%
    background-image: url("../assets/curso/tema2/img50.svg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.img-infografica.color-secundario.img-infografica__item__dot:before
  background-color: #C8DFF3

.tarjeta.color-primario 
    background-color: #D8E0E9

.img-infografica__item__dot:before, .img-infografica__item__dot:after, .img-infografica-b__item__dot:before, .img-infografica-b__item__dot:after 
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    position: absolute;
    top: 0;
    left: 280%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: .3;

.noindicador
  .indicador--hover:after
    display: none
.manito
  .indicador--hover:after
    left: 75px

.img-infografica__item
  width: 19% !important
.img-infografica.color-secundario .img-infografica__item__dot:before
  background-color: #0000
.img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #0000
.posit
  position: absolute
  top: 25px
  right: -114px
  @media screen and ( max-width: 420px )
    top: 138px
    right: -21px
.img116
  max-width: 116px
.bgr1
  background-color: #FFD947
.bgr2
  background-color: #BAC8D8
  height: 255px
  @media screen and ( max-width: 420px  )
    height: 400px
  
.texto-blanco *, .texto-blanco span
  color: $black !important

.texto-blanco *, .texto-blanco i
  color: $black !important

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #D8E0E9 !important
      color: black
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #D8E0E9
      color: black

/// non selected
.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #7181F4
      color: white
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #adb8c2 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #7181F4
      color: white

.img-responsive
  width: 210px
  @media screen and ( max-width: 420px )
    width: 150px
    
.img_float
    margin-top: -100px
    margin-left: -50px
    @media screen and ( max-width: 420px )
      margin-top: -73px
      margin-left: -12px

.slyder__action
    margin-right: 32px
    margin-top: -10px

.tarjeta-numerada__numero 
    width: 65px
    height: 65px
    font-size: 1.5em

.titulo-sexto.color-acento-contenido 
    border-left-color: #491079

.tarjeta-numerada_5 .num_5 .h2
    color: #12263F!important

.bg-tema2-1
  background-image: url('../assets/curso/tema2/img22.svg')
  background-position: 98% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem

.bg-tema2-2
  background-image: url('../assets/curso/tema2/img52.svg')
  background-position: 98% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem

.margin2
  margin-right: -11px
  margin-bottom: 2rem

.margin3
  margin-top: -10px

.boton, .boton--sm 
    background-color: #FFAB1D

.boton:active, .boton--sm:active, .boton:focus, .boton--sm:focus, .boton:hover, .boton--sm:hover 
    background-color: #FFAB1D

.flex-center
  display: flex
  flex-wrap: wrap
  align-items: baseline
  justify-content: center
  flex-direction: row

.padding2
  padding-top: 70px
  @media screen and (max-width: 992px)
    padding-top: 40px

.indica_s1
  -webkit-tap-highlight-color: transparent

.img-infografica-b__item__tooltip 
    position: none
    bottom: 0
    left: 0
    transform: none
    background-color: none
    padding: 0
    width: 0
    opacity: 0;
    transition: none
    pointer-events: none

.fa-plus:before 
    content: none

.img-infografica-b__modal 
    background-color: #D8E0E9
    @media (min-width: 1200px)
      padding: 0rem!important

.img-infografica__card--selected, .img-infografica-b__card--selected 
  bottom: 0
  left: -135px
  @media screen and (max-width: 420px) 
    bottom: -15px
    left: 20px

.margin_especial 
  .img-infografica__card, .img-infografica-b__card 
      width: 310px
      top: -84px
      @media screen and (max-width: 420px) 
        width: 346px
        top: 3px
      &_1
      @media screen and ( min-width: 360px)
        bottom: 0px
        left: -41px


.img-infografica__card, .img-infografica__card--selected 
    bottom: -123px
    

.margin_especial1 
  .img-infografica__card, .img-infografica-b__card 
      top: -80px
      left: -116%
      width: 275px
      @media screen and (max-width: 420px) 
        width: 346px
        top: 3px
      &_1
      @media screen and ( min-width: 360px)
        bottom: 0px
        left: -41px
        
.margin_especial2
  .img-infografica__card--selected, .img-infografica-b__card--selected 
    bottom: 0
    left: -135px
    @media screen and (max-width: 420px) 
      bottom: -6px
      left: -26px
    &_1
    @media screen and ( min-width: 360px)
      bottom: 0px
      left: -41px    

.tarjeta.bgr2
  max-height: 100%;
  @media screen and ( max-width: 420px )
    height: auto
  
.tarjeta.bg12

  @media screen and ( min-width: 360px)
    margin-right: 51px
